server:
  port: 9092

##########################################################################################
## Actuator configuration
##########################################################################################
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
    health:
      enabled: true

##########################################################################################
## Eureka Configuration
##########################################################################################
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_SERVER_URL:http://localhost:8761/eureka}
    instance:
      preferIpAddress: true
    fetchRegistry: true
    registerWithEureka: true
  instance:
    statusPageUrlPath: ${APP_HOSTNAME:http://localhost}:${server.port}/swagger-ui.html#
    healthCheckUrl: http://${EUREKA_HOSTNAME:localhost}:${server.port}/health
    homePageUrl: http://${EUREKA_HOSTNAME:localhost}/

##########################################################################################
## Spring Application Name
##########################################################################################
spring:
  application:
    name: SMA Staff Management Service
  
  ##########################################################################################
  ## PostgreSQL connection props
  ##########################################################################################
  datasource:
    url: jdbc:postgresql://${PG_ADDRESS:localhost}:${PG_PORT:5432}/${DB_NAME:SMA}
    username: ${PG_ADDRESS_USERID:rentin}
    password: ${PG_ADDRESS_PASSWORD:rentin}
  
  jpa:
    properties:
      hibernate:
        jdbc:
          lob:
            non_contextual_creation: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
        hbm2ddl:
          create_namespaces: true
    hibernate:
      ddl-auto: update
    show-sql: true

##########################################################################################
## Security Configuration
##########################################################################################
app:
  security:
    jwt-secret: ${JWT_SECRET:SmaSchoolManagementApplicationSecretKeyForJWTTokenGeneration2026}
    jwt-expiration-in-ms: 86400000
    jwt-refresh-expiration-in-ms: 604800000
    enable-cors: true
    exclude-patterns: /auth/**,/public/**,/actuator/**,/swagger-ui.html,/swagger-ui/**,/v2/api-docs,/swagger-resources/**,/webjars/**

##########################################################################################
## App basic configuration
##########################################################################################
sma:
  app:
    base:
      componentName: SMA_Staff_Management_Component
      logginEnabled: false
      payloadLogginEnabled: false

    ##########################################################################################
    ## AMQP Staff Event Publisher configuration
    ##########################################################################################
    amqp:
      staff:
        events:
          config:
            address: ${AMQP_ADDRESS:127.0.0.1}
            port: ${AMQP_PORT:5672}
            userName: ${AMQP_USERID:guest}
            password: ${AMQP_PASSWORD:guest}
            virtual-host: /sma
            dest:
              sender:
                exchangeName: staff-events
                routingKey: staff.created
                deliveryMode: 2

##########################################################################################
## Logging
##########################################################################################
logging:
  level:
    root: INFO
    org.sma: DEBUG
    org.springframework: INFO
