.spacer {
  flex: 1 1 auto;
}

.drawer-container {
  height: calc(100vh - 64px);
}

.drawer {
  width: 250px;
}

.main-content {
  padding: 20px;
}

mat-nav-list a {
  display: flex;
  align-items: center;
  gap: 16px;
}

mat-nav-list a.active {
  background-color: rgba(63, 81, 181, 0.1);
}
